<html>
  <head>    
    <title>Node-Replica</title>
    <link href="./assets/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="./assets/css/style.css" type="text/css" rel="stylesheet"/>
    <script src="./assets/js/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <div class="main">
      <header>
          <div class="overlay">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                  <div class="content-box panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="">Todo Application With NodeJS Replica Concept</h3>
                    </div>
                    <div class="panel-body">
                      <form action="" class="form-group" action="/" method="POST">
                        <input type="text" name="text" class="pull-left" width="100%">
                        <input type="submit" name="add" value="Add" class="btn btn-primary pull-right">
                      </form>
                      <ul>
                        <%for(var i=0;i<msg.length;i++){%>
                          <li><a href="#"><%= msg[i].item %></a></li>
                        <%}%>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div>
        </header>
    </div>
    <script src="./assets/todo.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
